body{
    background: linear-gradient(to right top, #777777, #7e8992, #799ea3, #85b29e, #b1c08f) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

section{
    margin: 25px auto 115px auto;
}

.img-thumbnail{
    max-width: 200px;
    margin-right: 15px;
}

.navbar{
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 0;
}

.navbar-brand{
    margin-left: 32px;
    background-color: #4aaaa5;
    padding: 20px 30px;
}

#nav-name{
    color: white;
    margin-left: 0;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 1.5em;
}

a{
    color: #999
}

h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}

#foot1{
    background-color: #4aaaa5;
    min-height: 10px;
}

#foot2{
    background-color: #666666;
    color: white;
    text-align: center;
    padding-top: 39px;
    height: 100%;
}